<% if @message.present?%>
<h1> Hello <%=@message%>world </h1>
<%else%>
<h1> Hello world</h1>
<%end%>

<% @notes.each do |note| %>
	<div> <%=note.user%> </div>
	<div> <%=note.content%> </div>
<%end%>




